.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.footer {
		display: flex;

	}
	.banner {
	  box-shadow: none;
	}

	.footer {
		background-color: aqua;
	}
}
  
  .collapses {
	width: 70%;
	margin: 0 auto;
  }
  
  .banner {
	img {
	  border-radius: 25px;
	  border: none;
	  opacity: 80%;
	}
  }
  