.about {
    width: 100%;
}

.banner img {
    border-radius: 25px;
    border: none;
    opacity: 80%;
}

.banner {
    border-radius: 25px;
    border: none;
    margin-bottom: 5px;
}

.about .banner {
    box-shadow: none;
}
  
