.Housing_main {
    color: #ff6060;
    margin-bottom: 0%;
    width: 100%;
}

.title {
    color: #ff6060;
    margin-bottom: 0%;
}
  
.location {
    font-size: 18px;
    font-weight: 500;
    color: black;
}
  
.tags {
    display: flex;
    gap: 10px;
}
  
.tag {
    background-color: #ff6060;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.host-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}
  
.host-details {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 20px;
}
  
.host-picture {
    border-radius: 50%;
    height: 64px;
}
  
.host-name {
    margin-right: 10px;
    color: #ff6060;
    font-weight: 500;
    font-size: 18px;
    width: 90px;
    text-align: right;
}
  
.rating {
    display: flex;
    gap: 10px;
}
  
.star-image {
    width: 20px; 
    height: 20px;
}

.left_right {
    display: flex;
    justify-content: space-between;
}
  

.collapses_Housing {
    display: flex;
    flex-direction: row;
    width: 100%;
}
  
