.header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header__nav ul li {
  margin-left: 57px;
  cursor: pointer;
}

.header__nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
}

.header__nav ul li a.active {
  text-decoration: underline;
}
.header__nav ul li a:hover {
  color: #ff6060;
  text-decoration: underline;
}

/* Styles pour le header lorsque la largeur de la fenêtre est au plus 950px */
@media (max-width: 950px) {
  /* Réduit l'espacement au-dessus du header */
  .header {
    margin-top: 20px;
  }

  /* Ajustements pour la navigation dans le header */
  .header__nav {
    width: 100%; /* Utilise toute la largeur disponible */
  }

  /* Style de la liste dans la navigation */
  .header__nav ul {
    flex-direction: row; /* Éléments alignés horizontalement */
    justify-content: flex-end; /* Alignement des éléments à droite */
    gap: 20px; /* Espacement entre les éléments de la liste */
  }

  /* Style des éléments de liste */
  .header__nav ul li {
    margin-left: 0; /* Suppression de la marge à gauche pour chaque élément */
  }

  /* Style des liens dans les éléments de liste */
  .header__nav ul li a {
    font-size: 12px; /* Réduction de la taille de la police */
    text-transform: uppercase; /* Transformation du texte en majuscules */
    width: auto; /* Largeur automatique pour s'adapter au contenu */
    white-space: nowrap; /* Empêche le retour à la ligne du texte */
  }

  /* Styles spécifiques pour le logo dans le header */
  .header__logo a img {
    width: 145px; /* Ajuste la largeur de l'image du logo */
  }
}

