.slideshow {
    margin-top: 50px;
    position: relative;
    width: 100%; /* Prendre toute la largeur disponible */
    height: 415px; /* Hauteur fixe pour le carrousel */
    overflow: hidden; /* Pour éviter les débordements */
    border-radius: 25px; /* Coins arrondis */
    background-color: #f0f0f0; /* Couleur de fond pour le carrousel */
  }
  
  .slide {
    display: none; /* Masquer les diapositives non actives */
    width: 100%; /* Prendre toute la largeur */
    height: 100%; /* Prendre toute la hauteur */
    transition: all 0.5s ease;
  }
  
  .slide.active {
    display: flex; /* Afficher la diapositive active */
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center; /* Centrer le contenu verticalement */
  }
  
  .images {
    width: 100%; /* L'image occupe toute la largeur */
    height: auto; /* Ajustement de la hauteur selon le ratio */
    border-radius: 25px;
    object-fit: cover; /* Pour que l'image remplisse le conteneur */
  }
  
  .arrow {
    position: absolute;
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Pour aligner au centre verticalement */
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100; /* Pour que les flèches soient au-dessus des images */
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  .slide-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Pour centrer au milieu */
    color: white;
    font-size: 14px;
  }
  